# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/projectSettingsUpdater.xml
/contentModel.xml
/.idea.dd2470project.iml
/modules.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\love\Documents\Github Desktop\dd2470project\.idea\.idea.dd2470project\.idea/dataSources/
/dataSources.local.xml
